.column {
  width: 400px;
  background-color: black;
  color: white;
  border: 8px solid grey;
  margin: 5px 8px 5px 8px;
  text-align: center;
}
.column img {
  width: 350px;
  text-align: center;
}

.ui-flex {
  display: flex;
  flex-wrap: wrap;
}
